Ojs\WorkflowBundle\Entity\JournalReviewForm:
  type: entity
  table: bc_journal_review_form
  repositoryClass: Ojs\WorkflowBundle\Entity\JournalReviewFormRepository
  type: entity
  id:
    id:
      type: integer
      id: true
      generator:
        strategy: AUTO
  fields:
    name:
      type: string
      length: 255
    active:
      type: boolean
      nullable: true
      options:
        default: true
    content:
      type: text
    updatedAt:
      type: datetime
      nullable: true
  manyToOne:
    step:
      targetEntity: Ojs\WorkflowBundle\Entity\JournalWorkflowStep
      joinColumn:
        name: journal_step_id
        referencedColumnName: id
  lifecycleCallbacks: {}
