<style>
    .select2-dropdown {
        z-index: 9001;
    }
</style>

<div class="well">
    {{ include('::flashbag.html.twig') }}
    {{ form(form) }}
    <button class="btn btn-success" onclick="VipaWorkflow.updateArticleMetadata(this)">{{ 'update'|trans }}</button>
</div>

<script>
    $(document).ready(function () {
        VipaWorkflow.refreshRichTextEditorPlugin();
        VipaWorkflow.refreshTagsInputPlugin();
    });
</script>