<div class="well">
    {{ include('::flashbag.html.twig') }}
    {{ form(form) }}
    <button class="btn btn-success pull-right" onclick="VipaWorkflow.postReviewerUser(this)">
        {{ 'create.reviewer.user'|trans }}
    </button>
    <br>
</div>