<div class="well">
    {{ include('::flashbag.html.twig') }}
    {{ form(form) }}
    <button class="btn btn-success" onclick="VipaWorkflow.updateJournalWfSetting(this)">{{ 'update.setting'|trans }}</button>
</div>