.dialog-box
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dialog-box li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.dialog-box li.left .dialog-box-body
{
    margin-left: 60px;
}

.dialog-box li.right .dialog-box-body
{
    margin-right: 60px;
}


.dialog-box li .dialog-box-body p
{
    margin: 0;
    color: #777777;
}

.panel-dialog .slidedown .glyphicon, .dialog-box .glyphicon
{
    margin-right: 5px;
}

.panel-dialog-body
{
    overflow-y: scroll;
    height: auto;
    max-height: 250px;
}

.dropdown-menu li a{
    cursor: pointer;
}
